.options-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;
}

.sort-wrapper {
  display: flex;
  align-items: center;
}

.sort-label {
  margin-right: 10px;
}

.change-mode-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
